#t_calc td input {
    
    width  : 300px ;
    height : 30px ;
    font-size : 1.2em ;
    
}
/* Cas particulier du champ texte : le sélecteur ne se limite
 * pas à #afficheur pour que sa priorité soit supérieure à celle du précédent selecteur.
 * Voir le cours ou http://www.w3.org/TR/CSS2/cascade.html#specificity pour plus de détails
 */
#t_calc td input#afficheur {
    
    width  : 100% ;
    text-align : right ;
    
}

#t_calc td input#reponse {
    
    width  : 100% ;
    text-align : right ;
}

#success{
    
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: bold;
  padding-top: 20px;
  height: 50px;
  width: 300px;
  background-color: green;  
    
}

#error{
    
  text-align: center;
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: bold;
  padding-top: 20px;
  height: 50px;
  width: 300px;
  background-color: red;
    
}